:root{
    --black:#2C3333;
    --blue:#A5C9CA;
    --dblue:#395B64;}

    .contaner{
        background-color:var(--blue) ;
        border: 10px solid var(--black); 
         height: 100vh;
         display: flex;
         justify-content: center;
         align-items: center;
    }
    .login{
        width: 30%;
        height: 755px;
        background-color: #E7F6F2;
        text-align: center;
        font-size: xx-large;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .butonenter{
        width: 100px;
        height: 50px;
        background-color: #A5C9CA;
    }
    .buton{
        background-color: #A5C9CA;
        font-size: x-large;
        width: 100px;
        height: 50px;
    }